:root {
  --ctp-base: #eff1f5;
  --ctp-surface0: #ccd0da;
  --ctp-blue: #1e66f5;
  --ctp-text: #4c4f69;
}

[data-theme="dark"] {
  --ctp-base: #1e1e2e;
  --ctp-surface0: #313244;
  --ctp-blue: #89b4fa;
  --ctp-text: #cdd6f4;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ctp-base: #1e1e2e;
    --ctp-surface0: #313244;
    --ctp-blue: #89b4fa;
    --ctp-text: #cdd6f4;
  }
}
