@use './variables';

@mixin clear-btn {
  border: none;
  background: transparent;
  padding: 0;
  outline: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;

  >* {
    pointer-events: none;
  }
}

@mixin btn {
  @include clear-btn;
  color: var(--color-primary);
}