@use './variables' as vars;

html,
body,
#root {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  height: 100%;
  min-height: 100vh;
  font-family: vars.$sans;
  margin: 0;
  font-size: 1rem;
}

#root {
  transition: background-color var(--transition-speed) var(--transition-timing),
    color var(--transition-speed) var(--transition-timing),
    border-color var(--transition-speed) var(--transition-timing),
    box-shadow var(--transition-speed) var(--transition-timing);
}